@import "partials/settings";
@import "partials/foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

html{
  background-color: $white;
}
body {
  background: $white;
  // min-width: 560px;

  // @media #{$small-only}{
  //   background-color: $light_blue;
  // }
}

section div.row{
  @media #{$small-only} {
    background-color: $light_blue;
  }
}

h1, h2, h3, h4, a, p{
  color: $dark_grey;
  text-align: center;
}

header{
  background-color: $light_blue;
  background-image: url('/images/header_bg.png');
  position: relative;
  z-index: 1;

  .columns{
    @media #{$small-only} {
      padding: 0;
    }
  }

  h1.desktop_logo{
          
    a span{
      font-weight: 700;
    }

    img{
      height: 150px;
    }
  }

  nav.top-bar{

    .title-area{
      
      h1 {
        
        &.mobile_logo{
          background-image: url('/images/logo.svg');
          background-repeat: no-repeat;
          background-size: 60px;
          margin-left: 30px;


          a {
            font-size: 1.5em;
            color: $light_blue;
            font-weight: 300;
            text-align: initial;

            span{
              color: $light_blue;
              font-size: 1em;
              font-weight: 600;
              padding-left: 50px;
            }
          }    
        }
      }

      li.toggle-topbar a{
        background-image: url('/images/menu_icon.png');
        background-size: 40px;
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        width: 40px;
        margin: 12px 15px 0 0;
      }
    }
  }
 
  .top-bar-section{
    color: $light_blue;

  
    ul{
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 1px;
      // padding: 0 40px;
      background-color: $dark_grey;

      li{
        padding: 14px 40px;
        border-top: solid 1px $light_blue;

        a{
          font-size: 0.9em;
          padding: 0;
          text-align: left;
          font-weight: 300;
          color: $light_blue;
        }
      }
    }

  }

  div.bar{

    @media #{$small-only} {
      display: none;
    }
  }
  
  h1.desktop_logo {
    margin: 25px 0 25px;
    padding-top: 120px;
    background-image: url('/images/logo.svg');
    background-size: auto 150px;
    background-repeat: no-repeat;
    background-position: center -15px;
    letter-spacing: 1px;
    // padding-bottom: 15px;

  }
}

nav.desktop_nav{
  width: 100%;
  background-color: $dark_grey;
  margin: auto;
  text-align: center;
  border-radius: 7px;

  @media #{$medium-up} {
    margin-bottom: -50px;
  }
  
  ul{
    list-style: none;
    height: 4.0625rem;
    border-radius: 10px;
    
    z-index: 20;

    li{
      display: inline-block;

      a{
        color: $light_blue;
        letter-spacing: 1px;
        font-size: 1.1rem;
        font-weight: 300;
        padding: 18px 20px;
        display: block;
        // line-height: 4.0625rem;

        &:hover{
          color: white;
        }
      }
    }
  }
}

.main_copy{
  // background-image: url('/images/ship.svg');
  // background-position: center -63px;
  // background-repeat: no-repeat;
  // background-size: 300px;
  // height: auto;
  width: 100%;
  margin-top: -10px;
  padding-top: 130px;
  display: block;

  @media #{$large-up} {
    background-position: 676px -85px;
    padding-top: 0;
    float: left;
    width: 58%;
  }

  @media #{$small-only} {
    padding: 275px 30px 50px;
  }

  h2{
    font-size: 1.8em;
    font-weight: 300;
    padding: 20px;
    margin: 117px 40px 13px;
    text-align: center;

    @media #{$small-only} {
      padding: 0;
      margin: 0;
    }

    @media #{$large-up} {
      margin: 20px 40px;
      padding: 40px 0;
      width: 91%;
      text-align: left;
    }
  }

  span{
    font-weight: 600;
  }
}

.main_content_wrapper{
  margin-top: 70px;
  background-color: $light_blue;
  border-radius: 8px;

  .ship_image{
    height: 0;
    margin-top: -73px;

    img{
      width: 320px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    @media #{$large-up} {
      margin-right: 45px;
      float: right;
      width: 350px;
      height: 280px;
    }

    @media #{$large-up} {
      margin-top: -84px;
    }
  }
}


.main_aside_button{
    width: 80%;
    // max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @media #{$large-up} {
      margin: 0 70px 0 0;
      float: right;
      max-width: 250px;
    }

    @media #{$medium-up}{
      max-width: 300px;
    }

    a{
      border-bottom: solid 7px $dark_grey;
      background-color: $light_grey;
      height: 70px;
      padding: 20px;
      color: $white;
      font-size: 1.2em;
      font-weight: 300;
      margin: auto;
      margin-bottom: 60px;
      display: inline-block;
      width: 100%;

      &:hover{
        background-color: $dark_grey;
        transition: all 0.5s ease;
      }

      @media #{$large-up} {
        margin-bottom: 0;
        width: 100%;
      }
    }
  }


.main_aside{
  border-radius: 15px;
  text-align: center;

  // .main_ship_image{
  //   background-color: brown;
  //   background-image: url('/images/ship.svg');
  //   background-position: 700px 200px;
  //   background-repeat: no-repeat;
  //   background-size: 300px;
  //   height: 200px;
  //   width: 300px;
  //   margin-top: -25px;

  //   @media #{$large-only} {
  //     display: initial;
  //   }
  // }
  
  // .main_aside_button{
  //   border-bottom: solid 7px $dark_grey;
  //   background-color: $light_grey;
  //   height: 70px;
  //   padding: 20px;
  //   width: 90%;
  //   max-width: 350px;
  //   margin: auto;
  //   margin-bottom: 60px;

  //   @media #{$large-up} {
  //     margin: 0;
  //     float: right;
  //   }

  //   a{
  //     color: $white;
  //     font-size: 1.2em;
  //     font-weight: 300;
  //   }
  // }
}

.links {

  @media #{$medium-only}{
    margin: 50px 0 0;
  }

  .row{

    @media #{$large-up} {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  h3, h4, a, p{
    color: $white;
    font-weight: 300;

  }

  .link_container{
    background-color: $light_grey;
    border-radius: 7px;

    @media #{$large-up}{
      &.third{
        .link_burger_1, .link_burger_2, .link_deals{
          &:hover{
            background-color: $dark_grey;
            transition: all 0.5s ease;
          }
        }
        &:hover{
          background-color: $light_grey;
          transition: all 0.5s ease;
        }
      }
    }

    &:hover{
      background-color: $dark_grey;
      transition: all 0.5s ease;
    }

    @media #{$small-only} {
      margin: 30px 45px;
    } 

    @media #{$medium-only}{
      margin-bottom: 50px;

      &.third{
        margin-bottom: 0;
      }
    }

    &:last-child h3{
      color: $white;
    
    }

 }

  .link_heading{
    border-bottom: solid 1px $grey;
    box-shadow: 0px 1px 1px #777777;
    padding: 20px 0;

  @media #{$medium-only} {
    border: none;
    box-shadow: none;
    padding: 0;
  }    
  
  h3{
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
           
    @media #{$medium-only} {
      padding: 55px 0 0;
      float: right;
      width: 50%;
      text-align: left;            
    }

    @media #{$medium-now} {
      padding-left: 40px;
    }
    
  }
}

.cost{
  text-align: center; 

  @media #{$large-up} {
    margin: 0;
    padding: 25px 0;
    width: 100%;
  } 

  @media #{$small-only} {
    padding: 30px 0;
    margin: auto;
  }

  @media #{$medium-only} {
    float: left;
    width: 45%;
    padding: 40px 48px 70px;
    border-right: solid 1px $grey;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.25);
  }

  @media #{$medium-now} {
    width: 50%;
  }

  h4{
    display: inline;
    font-size: 4.4em;
    font-weight: 300;
    border-bottom: solid 10px $white;
  }

}

.description{
  font-size: 1em;
  font-weight: 300;
  width: 50%;
  margin: auto;
  padding: 10px 0 40px;



  @media #{$medium-only} {
    float: right;
  }

  @media #{$medium-now} {
    width: 50%;
    padding: 0 0 0 40px;
  }

  @media #{$large-up} {
    width: 90%;
    padding-bottom: 40px;
  }

  p{
    letter-spacing: 0.8px;
    margin: auto;

    @media #{$medium-only} {
      text-align: left;
      padding: 0 50px 0 0;
    }

    @media #{$medium-now} {
      padding-right: 0px;
    }
  } 
}

.small_links{
  display: none;
 
    h3{
      font-size: 1em;
      letter-spacing: 1px;
      padding-top: 28px;
      margin: 0;
    }

    h4{
      font-size: 2.8em;
      font-weight: 300;
      border-bottom: solid 1px $grey;
      box-shadow: 0px 1px 1px #777777;
      margin: 0;
      padding-bottom: 17px;
    }

    .link_burger_2{
      margin: 0;
    }

    @media #{$large-up} {
      display: initial;
    }
  }
}

.link_burger_3{
  text-align: center;
  background-color: $light_blue;

  a{
    color: $white;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 90px;
  }

  img{
    padding-left: 20px;
  }

  @media #{$small-only}{
    margin: 0;
  }
}

.link_deals{
  text-align: center;
  padding: 15px 0;
  
  a{
    font-size: 1.4em;
    letter-spacing: 1px;

    img{
      padding-left: 15px;
    }
  }
}

footer{
  background-color: $dark_grey;

 
  p{
    background-color: $dark_grey;
    color: $light_grey;
    font-size: 0.9em;
    height: 120px;
    padding: 30px 54px;

    
   @media #{$medium-up} {
    width: 100%;
    }
  }
}

