@import "partials/settings";
@import "partials/foundation";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

html{
  background-color: $white;
}
body {
  background: $white;

  @media #{$small-only}{
    background-color: $light_blue;
  }
}

h1, h2, h3, h4, a, p{
  color: $dark_grey;
  text-align: center;
}

header{

  nav.top-bar{

    .title-area{


      h1.mobile_logo{
        background-image: url('/images/logo.svg');
        background-repeat: no-repeat;
        background-size: 60px;
        background-color: brown;
        height: 60px;
        width: 60px;

          a span{
            color: $light_blue;
            font-size: 1em;
            font-weight: 600;
            padding: 0 60px;
          }
      }

      li.toggle-topbar a{
        background-image: url('/images/menu_icon.png');
        background-size: 40px;
        background-repeat: no-repeat;
        background-color: brown;
        display: block;
        height: 40px;
        width: 40px;

      }
    }
  }

  

  
  .top-bar-section{
    color: $light_blue;
  
    ul{
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 20px;
    }

  }

  .bar{
  background-color: $light_blue;
  background-image: url('/images/header_bg.png');  
  height: 241px;

    @media #{$small-only} {
      display: none;
    }
  }
  
  h1.desktop_logo {
    border: solid 5px yellow;
    padding-top: 120px;
    background-image: url('/images/logo.svg');
    background-size: auto 165px;
    background-repeat: no-repeat;
    background-position: center -15px;
    letter-spacing: 1px;
    padding-bottom: 15px;
  }
//   .title{
//     margin-top: 10px;
//     border: solid 5px green;

//     h1{
//       border: solid 5px yellow;
//       padding-top: 120px;
//       background-image: url('/images/logo.svg');
//       background-size: 165px auto;
//       background-repeat: no-repeat;
//       background-position: center -15px;
//       letter-spacing: 1px;
//       padding-bottom: 15px;
//     }
    
//     span{
//       font-weight: bold;
//     }
//   }
// }

// .nav_menu{
//   background-color: $dark_grey;
//   text-align: center;
//   height: 60px;
//   padding-top: 15px;
//   margin: 0;
//   border-radius: 5px;
  
//   li{
//     display: inline;
//     color: $light_blue;
//     font-size: 1.1em;
//     letter-spacing: 1px;
//     font-weight: 300;
//     padding: 0 20px;
//   }
}

.main_copy{
  float: left;
  border: solid 2px purple;

  h2{
    padding: 20px;
    font-size: 2em;
    font-weight: 300;
    margin: 40px;
  }

  span{
    font-weight: 600;
  }
}

.main_content_wrapper{
  border: solid 3px blue;
  margin-top: 70px;
  background-color: $light_blue;
  border-radius: 15px;
}

.main_aside{
  border-radius: 15px;
  float: right;
  text-align: center;

  .main_aside_image{
    background-image: url('/images/ship.svg');
    background-position: center -63px;
    background-repeat: no-repeat;
    background-size: 300px;
    height: 200px;
    width: 300px;
    margin-top: -25px;

    @media #{$small-only} {
      display: none;
    }
  }
  
  .main_aside_button{
    border-bottom: solid 7px $dark_grey;
    background-color: $light_grey;
    height: 65px;
    padding: 20px;
    margin: 0 20px 0 3px;

    a{
      color: $white;
      font-size: 1.2em;
      font-weight: 300;
    }


  }
}

.links {
  
  .row{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3, h4, a, p{
    color: $white;
    // font-size: 1em;
    font-weight: 300;

  }

  // h4{
  //   border-bottom: solid 10px $white;
  //   // padding: 0 20px;
  // }

  .link_container{
    background-color: $light_grey;
    border-radius: 7px;
    padding: 33px 0;

    &:last-child h3{
      color: $white;
      
    }

 }

  .link_heading{
    border-bottom: solid 1px $grey;
    box-shadow: 0px 1px 1px #777777;
    
      h3{
        @media #{$small-only} {
        font-weight: 600;
        font-size: 1.5em;
        letter-spacing: 1px;
        }

      }
  }

  .cost{


      @media #{$small-only} {
      padding: 30px 40px;
      }

    h4{
      font-size: 4.4em;
      font-weight: 300;
      border-bottom: solid 10px $white;

        // margin: 0 67px;
      
    }

  }
    // background-color: lavender;


  .description{
    // background-color: salmon;
    font-size: 1em;
    font-weight: 300;

      p{
        letter-spacing: 0.8px;
        // margin: 0 140px;
      }
  }

  .small_links{
    @media #{$small-only} {
      display: none;
    }
  }
}

footer{
  background-color: $dark_grey;

  p{
  background-color: $dark_grey;
  color: $light_grey;
  font-size: 0.8em;
  height: 120px;
  padding-top: 30px;
  }
}

